.container {
    display: grid;
    grid-template-columns: 25% 75%;
}

.header{
    color: blueviolet;
    grid-column-start: 1;
    grid-column-end: 3;
}

.sidebar{
    color: red;
}

.maincontent{
    color: blue;
}

.footer{
    color: yellow
}
