div {
    padding: 10px 2px 4px 6px;
    margin: 3px 4px 5px 6px;
    color:blue;
    background-color: yellow;
    height: 100%;
    display: inline-block;
}

ol + div {
    height: 300px;
    width: 50%
}

div:first-of-type {
    display: none;
}

div:last-of-type:hover {
    background-color: olivedrab;
}